@model Training.ViewModel.Catalog.ProductModel.IndexClientViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- corporate-area-home-5 start -->
<div class="corporate-area-home-5">
    <div class="container">
        <div class="row">
            <!-- single-corporate start -->
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="single-corporate">
                    <div class="corporate-icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="corporate-text">
                        <h4>FREE SHIPPING & RETURN</h4>
                    </div>
                </div>
            </div>
            <!-- single-corporate end -->
            <!-- single-corporate start -->
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="single-corporate">
                    <div class="corporate-icon">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="corporate-text">
                        <h4>MONEY BACK GUARANTEE</h4>
                    </div>
                </div>
            </div>
            <!-- single-corporate end -->
            <!-- single-corporate start -->
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="single-corporate">
                    <div class="corporate-icon">
                        <i class="fa fa-life-bouy"></i>
                    </div>
                    <div class="corporate-text">
                        <h4>ONLINE SUPPORT 24/7</h4>
                    </div>
                </div>
            </div>
            <!-- single-corporate end -->
        </div>
    </div>
</div>
<!-- corporate-area-home-5 end -->
<!-- HOME SLIDER -->
<div class="slider-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="fullwidthbanner-container">
                    <div class="fullwidthbanner4">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                                <img src="//img/slider/slider-5/1.jpg" alt="slide">
                                <div class="tp-caption large_black sfr"
                                     data-x="0"
                                     data-y="150"
                                     data-speed="1100"
                                     data-start="1100"
                                     data-easing="easeInOutBack"
                                     style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #FFF;font-family: Montserrat;">
                                    <img src="//img/slider/slider-5/2.jpg" alt="">
                                </div>
                                <div class="tp-caption large_black sfr"
                                     data-x="335"
                                     data-y="149"
                                     data-speed="1100"
                                     data-start="1400"
                                     data-easing="easeInOutBack"
                                     style="font-family: Raleway; font-size: 50px; font-weight: 700; line-height:80px;text-transform: uppercase; color: #fff; text-shadow: 0 0 2px rgba(0,0,0,.05)">
                                    <img src="//img/slider/slider-5/3.jpg" alt="">
                                </div>

                                <div class="tp-caption lfb carousel-caption-inner"
                                     data-x="0"
                                     data-y="280"
                                     data-speed="1300"
                                     data-start="1700"
                                     data-easing="easeInOutBack"
                                     style="font-family: Montserrat; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #F3F3F3;">
                                    <a href="#" target="_blank"><img src="/img/slider/slider-1/shopping.jpg" alt=""></a>
                                </div>
                            </li>
                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                                <img src="/img/slider/slider-5/4.jpg" alt="slide">
                                <div class="tp-caption large_black sfr"
                                     data-x="0"
                                     data-y="130"
                                     data-speed="1100"
                                     data-start="1100"
                                     data-easing="easeInOutBack"
                                     style="font-size: 18px; font-weight: bold; text-transform: uppercase; color: #000;font-family: Montserrat;">
                                    <img src="/img/slider/slider-5/5.png" alt="">
                                </div>
                                <div class="tp-caption lfb carousel-caption-inner"
                                     data-x="300"
                                     data-y="350"
                                     data-speed="1300"
                                     data-start="1700"
                                     data-easing="easeInOutBack"
                                     style="font-family: Montserrat; font-size: 12px; font-weight: bold; text-transform: uppercase; color: #000;">
                                    <a href="#" target="_blank"><img src="/img/slider/slider-1/shopping.jpg" alt=""></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 promo-home-5">
                <!-- single-promo start -->
                <div class="single-promo">
                    <a href="#"><img src="/img/promotion/1.jpg" alt="" /></a>
                </div>
                <!-- single-promo end -->
                <!-- single-promo start -->
                <div class="single-promo">
                    <a href="#"><img src="/img/promotion/2.jpg" alt="" /></a>
                </div>
                <!-- single-promo end -->
            </div>
        </div>
    </div>
</div>
<!-- HOME SLIDER END -->
<!-- features-area start -->
<div class="features-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-heading">
                    <h3>Featured products</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features-curosel">
                <!-- single-features start -->
                @{
                    foreach (var item in Model.FeaturedProducts)
                    {
                        string[] arr = item.Images.Split(",");
                        string urlCart = "/AddToCart/" + item.Id;
                        string urlWishList = "/AddToWishList/" + item.Id;
                        string urlProductDetail = "/chi-tiet-san-pham/" + item.Name + "/" + item.Id;

                        <div class="col-md-3">
                            <div class="single-features">
                                @{
                                    if (item.Sale > 0)
                                    {
                                        <span class="sale-text">Sale</span>
                                    }
                                }
                                <div class="product-img">
                                    <a href="@urlProductDetail">
                                        <img class="first-img" src="@(SystemString.AdminUrl+arr[0])" alt="" />
                                        <img class="second-img" src="@(SystemString.AdminUrl+arr[1])" alt="" />
                                    </a>
                                </div>
                                <div class="product-content">
                                    <div class="pro-rating">
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    </div>
                                    <h5><a href="@urlProductDetail">@item.Name</a></h5>
                                    @{
                                        if (item.Sale > 0)
                                        {
                                            <span class="old-price">@item.Price.ToString("N0")</span>
                                            <span class="pro-price">@(((item.Price*item.Sale)/100).ToString("N0"))</span>
                                        }
                                        else
                                        {
                                            <span class="pro-price">@item.Price.ToString("N0")</span>
                                        }
                                    }
                                    <div class="action-buttons">
                                        <a class="add-to-cart" href="@urlCart"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                        <a class="favourite" href="@urlWishList"><i class="fa fa-heart-o"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                <!-- single-features end -->
            </div>
        </div>
    </div>
</div>
<!-- features-area end -->
<div class="home-4-sale-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3>sale products</h3>
                </div>
            </div>
            <div class="clear"></div>
            <div class="sale-product-curosel-home-4">
                <!-- product start -->
                @{
                    foreach (var item in Model.SaleProducts)
                    {
                        string[] arr = item.Images.Split(",");
                        string urlCart = "/AddToCart/" + item.Id;
                        string urlWishList = "/AddToWishList/" + item.Id;
                        string urlProductDetail = "/chi-tiet-san-pham/" + item.Name + "/" + item.Id;

                        <div class="col-lg-4 col-md-4">
                            <div class="single-features">

                                <div class="product-img">
                                    <a href="@urlProductDetail">
                                        <img class="first-img" src="@(SystemString.AdminUrl+item.Thunbar)" alt="" />
                                    </a>
                                    @{
                                        if (item.Sale > 0)
                                        {
                                            <span class="sale-text">Sale</span>
                                        }
                                    }
                                </div>
                                <div class="product-content">
                                    <div class="pro-rating">
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star"></i></a>
                                        <a href="#"><i class="fa fa-star-o"></i></a>
                                    </div>
                                    <h5><a href="@urlProductDetail">@item.Name</a></h5>
                                    <p>??????</p>
                                    @{
                                        if (item.Sale > 0)
                                        {
                                            <span class="old-price">@item.Price.ToString("N0")</span>
                                            <span class="pro-price">@(((item.Price*item.Sale)/100).ToString("N0"))</span>
                                        }
                                        else
                                        {
                                            <span class="pro-price">@item.Price.ToString("N0")</span>
                                        }
                                    }

                                    <div class="clear"></div>
                                    <div class="timer">
                                        <div data-countdown="2016/05/01"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                <!-- product end -->

            </div>
        </div>
    </div>
</div>
<!-- home-4-internal-content end -->
<!-- category-area start -->
<div class="category-area-home-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="category-tab">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Sản phẩm mới</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sản phẩm Bán chạy</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Sản phẩm được xem nhiều</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="row">
                                    <div class="category-curosel-home-5">
                                        <!-- single-features start -->
                                        @{
                                            foreach (var item in Model.NewProducts)
                                            {
                                                string[] arr = item.Images.Split(",");
                                                string urlCart = "/AddToCart/" + item.Id;
                                                string urlWishList = "/AddToWishList/" + item.Id;
                                                string urlProductDetail = "/chi-tiet-san-pham/" + item.Name + "/" + item.Id;

                                                <div class="col-md-4">
                                                    <div class="single-features">
                                                        @{
                                                            if (item.Sale > 0)
                                                            {
                                                                <span class="sale-text">Sale</span>
                                                            }
                                                        }
                                                        <div class="product-img">
                                                            <a href="@urlProductDetail">
                                                                <img class="first-img" src="@(SystemString.AdminUrl+arr[0])" alt="" />
                                                                <img class="second-img" src="@(SystemString.AdminUrl+arr[1])" alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="product-content">
                                                            <div class="pro-rating">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                            </div>
                                                            <h5><a href="@urlProductDetail">@item.Name</a></h5>
                                                            @{
                                                                if (item.Sale > 0)
                                                                {
                                                                    <span class="old-price">@item.Price.ToString("N0")</span>
                                                                    <span class="pro-price">@(((item.Price*item.Sale)/100).ToString("N0"))</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="pro-price">@item.Price.ToString("N0")</span>
                                                                }
                                                            }
                                                            <div class="action-buttons">
                                                                <a class="add-to-cart" href="@urlCart"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                                                <a class="favourite" href="@urlWishList"><i class="fa fa-heart-o"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <!-- single-features end -->
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="row">
                                    <div class="category-curosel-home-5">
                                        <!-- single-features start -->
                                        @{
                                            foreach (var item in Model.TopSaleProducts)
                                            {
                                                string[] arr = item.Images.Split(",");
                                                string urlCart = "/AddToCart/" + item.Id;
                                                string urlWishList = "/AddToWishList/" + item.Id;
                                                string urlProductDetail = "/chi-tiet-san-pham/" + item.Name + "/" + item.Id;

                                                <div class="col-md-4">
                                                    <div class="single-features">
                                                        @{
                                                            if (item.Sale > 0)
                                                            {
                                                                <span class="sale-text">Sale</span>
                                                            }
                                                        }
                                                        <div class="product-img">
                                                            <a href="@urlProductDetail">
                                                                <img class="first-img" src="@(SystemString.AdminUrl+arr[0])" alt="" />
                                                                <img class="second-img" src="@(SystemString.AdminUrl+arr[1])" alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="product-content">
                                                            <div class="pro-rating">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                            </div>
                                                            <h5><a href="@urlProductDetail">@item.Name</a></h5>
                                                            @{
                                                                if (item.Sale > 0)
                                                                {
                                                                    <span class="old-price">@item.Price.ToString("N0")</span>
                                                                    <span class="pro-price">@(((item.Price*item.Sale)/100).ToString("N0"))</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="pro-price">@item.Price.ToString("N0")</span>
                                                                }
                                                            }
                                                            <div class="action-buttons">
                                                                <a class="add-to-cart" href="@urlCart"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                                                <a class="favourite" href="@urlWishList"><i class="fa fa-heart-o"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <!-- single-features end -->
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <div class="row">
                                    <div class="category-curosel-home-5">
                                        <!-- single-features start -->
                                        @{
                                            foreach (var item in Model.TopViewProducts)
                                            {
                                                string[] arr = item.Images.Split(",");
                                                string urlCart = "/AddToCart/" + item.Id;
                                                string urlWishList = "/AddToWishList/" + item.Id;
                                                string urlProductDetail = "/chi-tiet-san-pham/" + item.Name + "/" + item.Id;

                                                <div class="col-md-4">
                                                    <div class="single-features">
                                                        @{
                                                            if (item.Sale > 0)
                                                            {
                                                                <span class="sale-text">Sale</span>
                                                            }
                                                        }
                                                        <div class="product-img">
                                                            <a href="@urlProductDetail">
                                                                <img class="first-img" src="@(SystemString.AdminUrl+arr[0])" alt="" />
                                                                <img class="second-img" src="@(SystemString.AdminUrl+arr[1])" alt="" />
                                                            </a>
                                                        </div>
                                                        <div class="product-content">
                                                            <div class="pro-rating">
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                                <a href="#"><i class="fa fa-star"></i></a>
                                                            </div>
                                                            <h5><a href="@urlProductDetail">@item.Name</a></h5>
                                                            @{
                                                                if (item.Sale > 0)
                                                                {
                                                                    <span class="old-price">@item.Price.ToString("N0")</span>
                                                                    <span class="pro-price">@(((item.Price*item.Sale)/100).ToString("N0"))</span>
                                                                }
                                                                else
                                                                {
                                                                    <span class="pro-price">@item.Price.ToString("N0")</span>
                                                                }
                                                            }
                                                            <div class="action-buttons">
                                                                <a class="add-to-cart" href="@urlCart"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                                                <a class="favourite" href="@urlWishList"><i class="fa fa-heart-o"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        <!-- single-features end -->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- category-area end -->
<!-- recent-post-area start -->
<div class="recent-post-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h3>Recent Posts</h3>
                </div>
            </div>
            <div class="clear"></div>
            <div class="recent-post-curosel">
                <!-- recent-post start -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="recent-post">
                        <div class="post-thumb">
                            <a href="#"><img src="/img/blog/r1.jpg" alt="" /></a>
                        </div>
                        <div class="post-info">
                            <span class="recent-post-date">March 10,2015</span>
                            <h3><a href="#">Blog image post layout</a></h3>
                            <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                            <a class="read-more" href="#">read more</a>
                            <span class="recent-comment"><a href="#"><i class="fa fa-comment-o"></i> 0 comments</a></span>
                        </div>
                    </div>
                </div>
                <!-- recent-post start -->
                <!-- recent-post start -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="recent-post">
                        <div class="post-thumb">
                            <a href="#"><img src="/img/blog/r2.jpg" alt="" /></a>
                        </div>
                        <div class="post-info">
                            <span class="recent-post-date">December 1,2014</span>
                            <h3><a href="#">Post in Gallery format</a></h3>
                            <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                            <a class="read-more" href="#">read more</a>
                            <span class="recent-comment"><a href="#"><i class="fa fa-comment-o"></i> 0 comments</a></span>
                        </div>
                    </div>
                </div>
                <!-- recent-post start -->
                <!-- recent-post start -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="recent-post">
                        <div class="post-thumb">
                            <a href="#"><img src="/img/blog/r3.jpg" alt="" /></a>
                        </div>
                        <div class="post-info">
                            <span class="recent-post-date">December 1,2014</span>
                            <h3><a href="#">Blog image post layout</a></h3>
                            <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                            <a class="read-more" href="#">read more</a>
                            <span class="recent-comment"><a href="#"><i class="fa fa-comment-o"></i> 0 comments</a></span>
                        </div>
                    </div>
                </div>
                <!-- recent-post start -->
                <!-- recent-post start -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="recent-post">
                        <div class="post-thumb">
                            <a href="#"><img src="/img/blog/r4.jpg" alt="" /></a>
                        </div>
                        <div class="post-info">
                            <span class="recent-post-date">December 1,2014</span>
                            <h3><a href="#">Post in Video format</a></h3>
                            <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                            <a class="read-more" href="#">read more</a>
                            <span class="recent-comment"><a href="#"><i class="fa fa-comment-o"></i> 0 comments</a></span>
                        </div>
                    </div>
                </div>
                <!-- recent-post start -->
                <!-- recent-post start -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="recent-post">
                        <div class="post-thumb">
                            <a href="#"><img src="/img/blog/r5.jpg" alt="" /></a>
                        </div>
                        <div class="post-info">
                            <span class="recent-post-date">December 1,2014</span>
                            <h3><a href="#">Maecenas ultricies sed odio</a></h3>
                            <p>Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium arcu ex. Aenean posuere libero</p>
                            <a class="read-more" href="#">read more</a>
                            <span class="recent-comment"><a href="#"><i class="fa fa-comment-o"></i> 0 comments</a></span>
                        </div>
                    </div>
                </div>
                <!-- recent-post start -->
            </div>
        </div>
    </div>
</div>
<!-- recent-post-area end -->
<!-- logo-testimonial-area start -->
<div class="logo-testimonial-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="section-heading">
                    <h3>Testimonial</h3>
                </div>
                <div class="home2-testimonial">
                    <div class="testimonial-home2">
                        <div class="single-testimonial">
                            <!-- testimonial-list start -->
                            <div class="testimonial-list">
                                <div class="test-content">
                                    <span><i class="fa fa-quote-left"></i></span>
                                    <p>Integer tincidunt nisi libero, sed aliquet ipsum fermentum eu. Duis porta egestas tellus sed vestibulum. Nam euismod elit id dolor aliquet, ut blandit massa egestas</p>
                                </div>
                                <div class="test-img">
                                    <img src="/img/testimonial/2.jpg" alt="" />
                                    <div class="test-author">
                                        <span class="test-name">Katherine Sullivan</span>
                                        <span class="test-title">CEO of SunPark</span>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-list end -->
                            <!-- testimonial-list start -->
                            <div class="testimonial-list">
                                <div class="test-content">
                                    <span><i class="fa fa-quote-left"></i></span>
                                    <p>Etiam rhoncus congue arcu sed interdum. Cras dolor diam, accumsan eu aliquam eu, luctus vehicula velit. Nam eget tortor ut felis fermentum sodales ac eu lacus</p>
                                </div>
                                <div class="test-img">
                                    <img src="/img/testimonial/1.jpg" alt="" />
                                    <div class="test-author">
                                        <span class="test-name">Elizabeth Taylor</span>
                                        <span class="test-title">Designer of BootExperts</span>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-list start -->
                            <!-- testimonial-list start -->
                            <div class="testimonial-list">
                                <div class="test-content">
                                    <span><i class="fa fa-quote-left"></i></span>
                                    <p>Proin varius erat sed nibh eleifend, scelerisque aliquam sapien malesuada. Donec at eros ex. Etiam tempus ornare nibh vel gravida</p>
                                </div>
                                <div class="test-img">
                                    <img src="/img/testimonial/2.jpg" alt="" />
                                    <div class="test-author">
                                        <span class="test-name">Katherine Sullivan</span>
                                        <span class="test-title">Customer</span>
                                    </div>
                                </div>
                            </div>
                            <!-- testimonial-list end -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="section-heading">
                    <h3>Logo brands</h3>
                </div>
                <div class="row">
                    <div class="brand-curosel-home-2">
                        <!-- single-brand start -->
                        <div class="col-md-6">
                            <div class="brand-img">
                                <a href="#"><img src="/img/brand/1.jpg" alt="" /></a>
                            </div>
                            <div class="brand-img">
                                <a href="#"><img src="/img/brand/2.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!-- single-brand end -->
                        <!-- single-brand start -->
                        <div class="col-md-6">
                            <div class="brand-img">
                                <a href="#"><img src="/img/brand/3.jpg" alt="" /></a>
                            </div>
                            <div class="brand-img">
                                <a href="#"><img src="/img/brand/4.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!-- single-brand end -->
                        <!-- single-brand start -->
                        <div class="col-md-6">
                            <div class="brand-img">
                                <a href="#"><img src="/img/brand/3.jpg" alt="" /></a>
                            </div>
                            <div class="brand-img">
                                <a href="#"><img src="/img/brand/4.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!-- single-brand end -->
                        <!-- single-brand start -->
                        <div class="col-md-6">
                            <div class="brand-img">
                                <a href="#"><img src="/img/brand/1.jpg" alt="" /></a>
                            </div>
                            <div class="brand-img">
                                <a href="#"><img src="/img/brand/2.jpg" alt="" /></a>
                            </div>
                        </div>
                        <!-- single-brand end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- logo-testimonial-area end -->
