@model Training.Data.Entities.Product

@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- breadcrumb-area start -->
<div class="breadcrumb-area product-breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="/trang-chu">Trang Chủ <i class="fa fa-angle-right"></i></a></li>
                <li><a href="#"> @Model.CategoryId <i class="fa fa-angle-right"></i></a></li>
                <li>@Model.Name</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- product-main-area start -->
<div class="product-main-area">
    <div class="container">
        <div class="row">
            <!-- product-page-photo start -->
            <div class="col-lg-7 col-md-7 col-sm-12">
                <div class="product-page-photo">
                    <div class="product-page-2-tab">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                @{
                                    string[] arr = Model.Images.Split(",");
                                    int count = arr.Count() >= 4 ? 4 : arr.Count();





                                    for (int i = 0; i < count; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <li role="presentation" class="active"><a href="#image@(i)" role="tab" data-toggle="tab"><img src="@(SystemString.AdminUrl+arr[i])" alt="" /></a></li>
                                        }
                                        else
                                        {
                                            <li role="presentation"><a href="#image@(i)" role="tab" data-toggle="tab"><img src="@(SystemString.AdminUrl+arr[i])" alt="" /></a></li>
                                        }
                                    }
                                }
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                @{

                                    for (int i = 0; i < count; i++)
                                    {
                                        string active = i == 0 ? "active" : "";
                                        <div role="tabpanel" class="tab-pane @active" id="image@(i)">
                                            <a href="#"><img src="@(SystemString.AdminUrl+arr[i])" alt="" /></a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- product-page-photo end -->
            <div class="col-lg-5 col-md-5 col-sm-12">
                <div class="product-page-content">
                    <div class="pro-page-title">
                        <h1>@Model.Name</h1>
                    </div>
                    <div class="product-page-rating">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                    </div>
                    <div class="stock-status">
                        <p>@(Model.Quantity == 0 ?"Hết hàng":"Còn Hàng")</p>
                    </div>
                    <div class="product-page-price">
                        @{
                            if (Model.Sale > 0)
                            {
                                <span class="old-price">@Model.Price.ToString("N0")</span>
                                <span class="pro-price">@(((Model.Price*Model.Sale)/100).ToString("N0"))</span>
                            }
                            else
                            {
                                <span class="pro-price">@Model.Price.ToString("N0")</span>
                            }
                        }

                    </div>
                    <div class="pro-shor-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>
                    </div>
                    <div class="product-page-select">
                        <form action="#">
                            <label>Size</label>
                            <select>
                                <option value="volvo">Choose an option…</option>
                                <option value="saab">L</option>
                                <option value="mercedes">M</option>
                                <option value="audi">XL</option>
                                <option value="audi2">S</option>
                            </select>
                        </form>
                    </div>
                    <div class="product-total-cart">
                        <form action="#">
                            <input type="number" value="1" />
                            <button type="submit">Add to cart</button>
                        </form>
                    </div>
                    <div class="product-wishlist">
                        <a href="#"><i class="fa fa-heart-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="product-share-icon">
                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                    <a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a>
                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="product-tab">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                            <li role="presentation"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Additional Information</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews (1)</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="product-page-tab-content">
                                    @Html.Raw(@Model.Content)
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="information">
                                <div class="product-page-tab-content">
                                    <table>
                                        <tbody>
                                            <tr class="">
                                                <th>Weight</th>
                                                <td class="product_weight">10 kg</td>
                                            </tr>
                                            <tr class="alt">
                                                <th>Dimensions</th>
                                                <td class="product_dimensions">10 x 20 x 30 cm</td>
                                            </tr>
                                            <tr class="">
                                                <th>Size</th>
                                                <td><p>L, M, S, XL</p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="product-page-comments">
                                    <h2>1 review for Feugiat justo lacinia</h2>
                                    <ul>
                                        <li>
                                            <div class="product-comments">
                                                <img src="/img/blog/comments/2.jpg" alt="" />
                                                <div class="product-comments-content">
                                                    <p>
                                                        <strong>admin</strong> -
                                                        <span>February 17, 2015:</span>
                                                        <span class="pro-comments-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                    </p>
                                                    <div class="desc">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum.
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="review-form-wrapper">
                                        <h3>Add a review</h3>
                                        <form action="#">
                                            <input type="text" placeholder="your name" />
                                            <input type="email" placeholder="your email" />
                                            <div class="your-rating">
                                                <h5>Your Rating</h5>
                                                <span>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </span>
                                                <span>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </span>
                                                <span>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </span>
                                                <span>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </span>
                                            </div>
                                            <textarea id="product-message" cols="30" rows="10" placeholder="Your Rating"></textarea>
                                            <input type="submit" value="submit" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- product-main-area end -->
<!-- features-area start -->
<div class="features-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-heading">
                    <h3>Up-Sells</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features-curosel">
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/20.jpg" alt="" />
                                <img class="second-img" src="/img/product/15.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                            <h5><a href="#">Aliquam lobortis est</a></h5>
                            <span class="pro-price">£515.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <span class="sale-text">Sale</span>
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/19.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                            <h5><a href="#">Condimentum posuere</a></h5>
                            <span class="old-price">£230.00</span>
                            <span class="pro-price">£220.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <span class="sale-text">Sale</span>
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/10.jpg" alt="" />
                                <img class="second-img" src="/img/product/11.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                            <h5><a href="#">Phasellus vel hendrerit</a></h5>
                            <span class="old-price">£80.00</span>
                            <span class="pro-price">£70.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <span class="sale-text">Sale</span>
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/22.jpg" alt="" />
                                <img class="second-img" src="/img/product/21.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                            <h5><a href="#">Dignissim venenatis</a></h5>
                            <span class="old-price">£80.00</span>
                            <span class="pro-price">£70.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/8.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                            <h5><a href="#">Vulputate justo</a></h5>
                            <span class="pro-price">£90.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <span class="sale-text">Sale</span>
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/10.jpg" alt="" />
                                <img class="second-img" src="/img/product/11.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                            <h5><a href="#">Phasellus vel hendrerit</a></h5>
                            <span class="pro-price">£55.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
            </div>
        </div>
    </div>
</div>
<!-- features-area end -->
<!-- features-area start -->
<div class="features-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-heading">
                    <h3>Related Products</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="features-curosel">
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/1.jpg" alt="" />
                                <img class="second-img" src="/img/product/2.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                            <h5><a href="#">Ornare sed consequat</a></h5>
                            <span class="pro-price">£515.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <span class="sale-text">Sale</span>
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/3.jpg" alt="" />
                                <img class="second-img" src="/img/product/4.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                            <h5><a href="#">Etiam molestie</a></h5>
                            <span class="old-price">£230.00</span>
                            <span class="pro-price">£220.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <span class="sale-text">Sale</span>
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/5.jpg" alt="" />
                                <img class="second-img" src="/img/product/6.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                            <h5><a href="#">Aenean eu tristique</a></h5>
                            <span class="old-price">£80.00</span>
                            <span class="pro-price">£70.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <span class="sale-text">Sale</span>
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/7.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-o"></i></a>
                            </div>
                            <h5><a href="#">Feugiat justo lacinia</a></h5>
                            <span class="old-price">£80.00</span>
                            <span class="pro-price">£70.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/8.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                            <h5><a href="#">Vulputate justo</a></h5>
                            <span class="pro-price">£90.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
                <!-- single-features start -->
                <div class="col-md-3">
                    <div class="single-features">
                        <span class="sale-text">Sale</span>
                        <div class="product-img">
                            <a href="#">
                                <img class="first-img" src="/img/product/10.jpg" alt="" />
                                <img class="second-img" src="/img/product/11.jpg" alt="" />
                            </a>
                            <a class="modal-view" href="#" data-toggle="modal" data-target="#productModal">Quick View</a>
                            <div class="action-buttons">
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i> <span>Add to cart</span></a>
                                <a class="favourite" href="#"><i class="fa fa-heart-o"></i></a>
                                <a class="compare" href="#"><i class="fa fa-toggle-off"></i></a>
                            </div>
                        </div>
                        <div class="product-content">
                            <div class="pro-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                            <h5><a href="#">Phasellus vel hendrerit</a></h5>
                            <span class="pro-price">£55.00</span>
                        </div>
                    </div>
                </div>
                <!-- single-features end -->
            </div>
        </div>
    </div>
</div>
<!-- features-area end -->	