@using Training.ViewModel.Common
@model PageResult<Training.ViewModel.Catalog.ProductModel.ViewProductRequest>
@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop-header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="shop-header-title">
                    <h1>@Model.Items.Select(x=>x.CategoryName).FirstOrDefault()</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="breadcrumb-area shop-breadcrumb">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="index-7.html">Trang chủ <i class="fa fa-angle-right"></i></a></li>
                <li>Danh mục sản phẩm</li>
            </ul>
        </div>
    </div>
</div>

<div class="blog-main-area">
    <div class="container">
        <div class="row">
            <!-- sidebar start -->
            <div class="col-lg-3 col-md-3 col-sm-12">
                <!-- shop-categories start -->
                <div class="shop-categories shop-space">
                    <h2 class="shop-sidebar-title"><span>Recent Posts</span></h2>
                    <ul class="sidebar-menu">
                        <li><a href="#">Accessories</a> <span> (17)</span></li>
                        <li><a href="#">Digital</a> <span> (5)</span></li>
                        <li><a href="#">Kids</a> <span> (15)</span></li>
                        <li><a href="#">Shoes</a> <span> (10)</span></li>
                    </ul>
                </div>
                <!-- shop-categories end -->
                <!-- shop-filter start -->
                <div class="shop-filter shop-space">
                    <h2 class="shop-sidebar-title"><span>Filter By Price</span></h2>
                    <div class="info_widget">
                        <div class="price_filter">
                            <div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 12.5%; width: 70.8333%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 12.5%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 83.3333%;"></span></div>
                            <div class="price_slider_amount">
                                <input type="text" id="amount" name="price" placeholder="Add Your Price">
                                <input type="submit" value="Filter">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- shop-filter end -->
                <!-- shop-categories start -->
                <div class="shop-categories shop-space">
                    <h2 class="shop-sidebar-title"><span>Size</span></h2>
                    <ul class="sidebar-menu">
                        <li><a href="#">L</a> <span> (1)</span></li>
                        <li><a href="#">M</a> <span> (1)</span></li>
                        <li><a href="#">S</a> <span> (1)</span></li>
                        <li><a href="#">XL</a> <span> (1)</span></li>
                    </ul>
                </div>
                <!-- shop-categories end -->
                <!-- shop-categories start -->
                <div class="shop-categories shop-space">
                    <h2 class="shop-sidebar-title"><span>Size</span></h2>
                    <ul class="tag-list">
                        <li><a href="#">asian</a></li>
                        <li><a href="#">brown</a></li>
                        <li><a href="#">euro</a></li>
                        <li><a href="#">fashion</a></li>
                        <li><a href="#">france</a></li>
                        <li><a href="#">t-shirt</a></li>
                        <li><a href="#">teen</a></li>
                        <li><a href="#">white</a></li>
                    </ul>
                </div>
                <!-- shop-categories end -->
                <!-- shop-featured start -->
                <div class="shop-featured shop-space">
                    <h2 class="shop-sidebar-title"><span>featured</span></h2>
                    <div class="shop-product">
                        <div class="shop-pro-img">
                            <a href="#"><img src="/img/product/shop/1.jpg" alt=""></a>
                        </div>
                        <div class="shop-pro-content">
                            <h3 class="shop-pro-name"><a href="#">Ornare sed consequat</a></h3>
                            <div class="shop-price">
                                <span class="shop-new">£515.00</span>
                            </div>
                            <div class="shop-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-product">
                        <div class="shop-pro-img">
                            <a href="#"><img src="/img/product/shop/2.jpg" alt=""></a>
                        </div>
                        <div class="shop-pro-content">
                            <h3 class="shop-pro-name"><a href="#">Etiam molestie</a></h3>
                            <div class="shop-price">
                                <span class="shop-old">£230.00</span>
                                <span class="shop-new">£220.00</span>
                            </div>
                            <div class="shop-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-product">
                        <div class="shop-pro-img">
                            <a href="#"><img src="/img/product/shop/3.jpg" alt=""></a>
                        </div>
                        <div class="shop-pro-content">
                            <h3 class="shop-pro-name"><a href="#">Aenean eu tristique</a></h3>
                            <div class="shop-price">
                                <span class="shop-old">£80.00</span>
                                <span class="shop-new">£70.00</span>
                            </div>
                            <div class="shop-rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- shop-featured end -->
            </div>
            <!-- sidebar end -->
            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="row">
                    <!-- toolbar start -->
                    <div class="col-md-12 col-sm-12">
                        <div class="toolbar">
                            <div class="page-number">
                                @await Component.InvokeAsync("Paging",Model)
                            </div>
                            <div class="show-result">
                                <p>Showing 1–12 of 20 results</p>
                            </div>
                        </div>
                    </div>
                    <!-- toolbar end -->
                    <!-- shop-product-details start -->
                    <div class="shop-product-details">
                        <!-- single-features start -->
                        @{
                            foreach (var item in Model.Items)
                            {
                                string[] arr = item.Images.Split(",");
                                string urlCart = "/AddToCart/" + @item.Id;
                                string urlWishList = "/AddToWishList/" + item.Id;
                                string urlProductDetail = "/chi-tiet-san-pham/" + item.Name + "/" + item.Id;


                                <div class="col-md-4 col-sm-4">
                                    <div class="single-features">
                                        <div class="product-img">
                                            <a href="@urlProductDetail">
                                                <img class="first-img" src="@(SystemString.AdminUrl+arr[0])" alt="">
                                                <img class="second-img" src="@(SystemString.AdminUrl+arr[1])" alt="">
                                            </a>
                                            <div class="action-buttons">
                                                <a class="add-to-cart" href="/AddToCart/@item.Id"><i class="fa fa-shopping-cart"></i> <span>Thêm vào giỏ hàng</span></a>
                                                <a class="favourite" href="/AddToWishList/@item.Id"><i class="fa fa-heart-o"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <!--   <div class="pro-rating">
                                                   <a href="#"><i class="fa fa-star"></i></a>
                                                   <a href="#"><i class="fa fa-star"></i></a>
                                                   <a href="#"><i class="fa fa-star"></i></a>
                                                   <a href="#"><i class="fa fa-star"></i></a>
                                               </div> -->
                                        <h5><a href="@urlProductDetail">@item.Name</a></h5>
                                            <span class="pro-price">@item.Price.ToString("N0")</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                        <!-- single-features end -->
                    </div>
                    <!-- shop-product-details end -->
                    <!-- toolbar start -->
                    <div class="col-md-12 col-sm-12">
                        <div class="toolbar toolbar-border">
                            @*	<div class="page-number">
                                <ul>
                                <li class="page-num-active">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                                </ul>
                                </div>
                                <div class="show-result">
                                <p>Showing 1–12 of 20 results</p>
                                </div>*@
                            <div class="page-number">
                                @await Component.InvokeAsync("Paging",Model)
                            </div>
                        </div>
                    </div>
                    <!-- toolbar end -->
                </div>
            </div>
        </div>
    </div>
</div>

